<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><%= link_to "About",   '#' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The 12 Volumes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/twelve/one">One</a></li>
            <li><a href="/tweleve/two">Two</a></li>
            <li><a href="twelve/three">Three</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More Hymns? <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hymns</a></li>
            <li><a href="#">More Hymns</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">And even More Hymns</a></li>
            <li><a href="#">More Hymns</a></li>
            <li><a href="#">More Hymns</a></li>
            <li><a href="#">More Hymns</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>   





<!-- 
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container span12">

          <ul class="nav navbar-nav">
            <li ><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#somewhere">Collection</a></li>
            <li><a href="#somewhere">Specific Double Sided Hymns</a></li>
            <li><a href="#contact">Top 10 List</a></li>
            <li><a href="#contact">Guitar</a></li>
            <li><a href="#contact">Miscelaneous Singles</a></li>
            <li><a href="#contact">Hymns Sent to Children</a></li>
            <li><a href="#contact">Miscellaneous Collection</a></li>
            <li><a href="#contact">Gifts That are Offered Through Hymns</a></li>
          </ul>

      </div>
    </nav> -->


