
<div class="container content">

<p>Gerald Finn’s Chosen Hymns Collection captures his favorite muscial tributes to Jesus.  Through painstaking reconstruction and consideration, this collection represents the best of a large collection of American hymn books from the 20th century.  </p><p>
The bulk of the chosen hymns (over 1000 of them) can be found under <strong>The 12 Volumes</strong>.  A collection of Mr. Finn’s particular favorites is found under the <strong>Top 10</strong> List, though as you’ll see, there’s a few more than 10!  While all of the hymns in the Collection are notated for easy playing on the piano, some have been identified that are amenable to guitar playing.  And another set have been chosen as not only Gerald’s favorites, but also with some having guitar friendly chord annotations as well.  These are found under <strong>Guitar</strong>.  </p><p>
Some of the hymns in the Collection reside on two sheets of paper rather than one, and these are found under <strong>Specific Double Sided Hymns</strong>.  Some of the hymns were collected from old sources, in unconventional paper sizes, often of tattered quality due to use and popularity, and these are found under <strong>Miscellaneous Singles</strong>.  Another miscellaneous collection of hymns not to be missed resides under <strong>Miscellaneous Collection</strong>.  </p><p>
Over time, in the work up to the Top 10 list and the generation of the comprehensive 12 Volumes, subsets of interest were found and shared.  One example of this is under <strong>Special Hymns Sent to Children</strong>.  </p><p>
And, through the process of compiling and curating these hymns, a conceptual framework for reflecting on the deeper gifts hymns provide was constructed.  This framework is found under <strong>Gifts That are Offered Through Hymns</strong>.</p><p>
For all of the hymns here in the Collection, if there’s a particular hymn that one is interested in, one can go deeper by exploring <strong>Where to Go For More.</strong> Here, hymnals are described that contain Mr. Finn’s annotations on how a particular hymn fits within the collection, coded according to whether the hymn had personal meaning to Mr. Finn (*), was considered necessary to square out the collection (), or if the hymn was not particularly necessary (?).</p><p>
Mr. Finn was inspired by numerous others on his journey.  These include famous song-writers, military leaders, presidents, writers, athletes, ministers, and horses, images of which are found throughout the site.  Understanding the contributions of these historical figures will surely enrich and enlighten.
This collection of hymns is a celebration of Jesus.  As Mr. Finn would often remind us:
</p>
<blockquote>
<p>All things are possible to him that believeth, but not all things are profitable.  Be not afraid. Only believe. Jesus is who He says He is:   He can do what He says He can do:   His word is the way He wants it to be.</p>
</blockquote>

</div>