<%= @message %>



<div class="jumbotron-custom">
  <h1>The Gerald Finn Hymn Collection</h1>
  <p>...</p>
  </div>

<img class='img-thumbnail' id='pic'src= <%=image_path "Gerald_Finn.jpg"%> , width="400"/>


</div>
