<div class'container center-block' id='inspire'>
<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Johnny_Cash.jpg" alt="...">
      <div class="caption">
        <h3>Johnny Cash</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Johnny_Cash" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/CS_Lewis.jpg" alt="...">
      <div class="caption">
        <h3>CS_Lewis</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/C._S._Lewis" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/George_Patton.jpg" alt="...">
      <div class="caption">
        <h3>George Patton</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/George_S._Patton" class="btn btn-default" >George Patton</a></p>
      </div>
    </div>
  </div>


</div>
<div class="row">


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Willie_Nelson.jpg" alt="...">
      <div class="caption">
        <h3>Willie Nelson</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Willie_Nelson" class="btn btn-default" >Wiki</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Joe_Montana.jpg" alt="...">
      <div class="caption">
        <h3>Joe Montana</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Joe_Montana" class="btn btn-default" >Wiki</a></p>
      </div>
    </div>
  </div>





  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/William_Branham.jpg" alt="...">
      <div class="caption">
        <h3>William Branham</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/William_M._Branham" class="btn btn-default">Wiki</a></p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Man_O'_War.jpg" alt="...">
      <div class="caption">
        <h3>Man O' War</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Man_o%27_War" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Seabiscuit.jpg" alt="...">
      <div class="caption">
        <h3>Seabiscuit</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Seabiscuit" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Secretariat.jpg" alt="...">
      <div class="caption">
        <h3>Secretariat</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Secretariat_%28horse%29" class="btn btn-default" >Wiki</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Senator_Lyndon_Johnson.jpg" alt="...">
      <div class="caption">
        <h3>Lyndon Johnson</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Lyndon_B._Johnson" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Gerald_Ford.jpg" alt="...">
      <div class="caption">
        <h3>Gerald Ford</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Gerald_Ford" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/bradley_eisenhower_patton.jpg" alt="...">
      <div class="caption">
        <h3>Bradley, Eisenhower & Patton</h3>
        <p>...</p>
        <p><a href="http://www.nytimes.com/2011/04/10/books/review/book-review-brothers-rivals-victors-by-jonathan-w-jordan.html?pagewanted=all&_r=0" class="btn btn-default" >NYT</a></p>
      </div>
    </div>
  </div>




  
</div>
<div class="row"></div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Archie_Olivia_Manning.jpg" alt="...">
      <div class="caption">
        <h3>Archie & Olivia Manning</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Archie_Manning" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Eli_Manning.jpg" alt="...">
      <div class="caption">
        <h3>Eli Manning</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Eli_Manning" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Peyton_Manning.jpg" alt="...">
      <div class="caption">
        <h3>Peyton Manning</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Peyton_Manning" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


  </div>
<div class="row"></div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/billy_graham.jpg" alt="...">
      <div class="caption">
        <h3>Billy Graham</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Billy_Graham" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/joyce_meyer.jpg" alt="...">
      <div class="caption">
        <h3>Joyce Meyer</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Joyce_Meyer" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/kenneth_copeland.jpg" alt="...">
      <div class="caption">
        <h3>Kenneth Copeland</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Kenneth_Copeland" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>

  </div>
<div class="row"></div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/louis_lamour.jpg" alt="...">
      <div class="caption">
        <h3>Louis L'Amour</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Louis_L%27Amour" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/jack_warner.jpg" alt="...">
      <div class="caption">
        <h3>Jack Warner</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Jack_Warner" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


      <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Tolkien_1916.jpg" alt="...">
      <div class="caption">
        <h3>J. R. R. Tolkein</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/J._R._R._Tolkien" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>



</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Bob_Dylan.jpg" alt="...">
      <div class="caption">
        <h3>Bob Dylan</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Bob_Dylan" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>


<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/Abraham_Lincoln.jpg" alt="...">
      <div class="caption">
        <h3>Abraham Lincoln</h3>
        <p>...</p>
        <p><a href="http://en.wikipedia.org/wiki/Abraham_Lincoln" class="btn btn-default" role="button">Wiki</a></p>
      </div>
    </div>
  </div>

  
</div>
</div>